{% extends "learning_logs/base.html" %}

{% block content %}
    <p>
        Debug: <a href="{% url 'learning_logs:edit_entry' entry.id%}">danki</a>
    </p>

    <p><a href="{% url 'learning_logs:edit_entry' entry.id%}">{{ project }}</a></p>

    <p>Edit</p>
    <form action="{% url 'learning_logs:edit_entry' entry.id%}" method="post">
        {% csrf_token %}
        <p>
            <label for="id_entry_name">Entry name:</label>
            <textarea placeholder=entry.entry_name, name="entry_name" cols="40" rows="10" required id="id_entry_name">
            </textarea>
        </p>
            <button name="submit">save changes</button>
    </form>

{% endblock content%}