{% extends "learning_logs/base.html" %}

{% block content %}
    <p>
        Debug: <a href="{% url 'learning_logs:new_entry' project.id%}">danki</a>
    </p>

    <p><a href="{% url 'learning_logs:project' project.id%}">{{ project }}</a></p>

    <p>Add a new Entry</p>
    <form action="{% url 'learning_logs:new_entry' project.id%}" method="post">
        {% csrf_token %}
        <p>
            <label for="id_entry_name">Entry name:</label>
            <textarea name="entry_name" cols="40" rows="10" required id="id_entry_name">
            </textarea>
        </p>
            <button name="submit">add entry</button>
    </form>

{% endblock content%}